body{
	background-color: black;
	animation: DaBiaoTi 6s ease infinite;
}
.DaBiaoTi1{
	margin-top: 15%;
	margin-right: 370px;
	display: flex;
	justify-content: center;/* 左右居中 */
	align-items: center;/* 上下居中 */
}
.DaBiaoTi2{
	margin-top: -50px;
	margin-left: 370px;
	display: flex;
	justify-content: center;/* 左右居中 */
	align-items: center;/* 上下居中 */
}
.ShiJu1{
	font-size: 2rem;
	color: #4e4e4e;
}
.ShiJu2{
	font-size: 2rem;
	color: #4e4e4e;
}
@keyframes DaBiaoTi{
	0%{
		background-color: #4e4e4e;
	}
	50%{
		background-color: #1e1e1e;
	}
	100%{
		background-color: #4e4e4e; 
	}
}